name: Preview Updater

on:
    schedule:
        -   cron: '20 2 * * *'
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write

jobs:
    update:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Update Previews
                uses: ./
                with:
                    token: ${{ secrets.GITHUB_TOKEN || env.GITHUB_TOKEN }}
